* {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    color: white;
    margin: 0;
}

header {
    background-image: url(../images/hero-man.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10%;
}

#navbar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 10%;
}

#navbar.scrolled {
    background-color: #355592;
}

#navbar .menu {
    display: flex;
    align-items: center;
}

#navbar .menu ul {
    display: flex;
    list-style: none;
    gap: 35px;
    color: white;
}

#navbar .menu ul a {
    text-decoration: none;
    font-size: 1.5rem;
}

a:visited {
    color: white;
}

.join-button {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
}

header .box-2 h2 {
    font-size: 8rem;
}

header .box-2 h5 {
    font-size: 2rem;
    background-color: #355592;
    display: inline;
    padding: 5px 10px;
    border-radius: 4px;
    text-shadow: 2px 2px #404040;
}

header .box-2 p {
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 5px 30px 5px 10px;
    display: table;
}

header .box-2 .button-1 {
    font-size: 2.5rem;
    background-color: #355592;
    border-radius: 4px;
    border-style: none;
    padding: 8px 24px;
    margin-right: 30px;
}

header .box-2 .button-2 {
    font-size: 2.5rem;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 8px 24px;
    margin-right: 30px;
}