#classes .section-3 {
    background-color: #f6f6f6;
    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section-3 h3 {
    color: #355592;
    font-size: 4rem;
}

.section-3 .inner {
    width: 90px;
    margin: 0 auto;
    border-bottom: 8px solid orange;
    border-radius: 5px;
}

.section-3 .box-2 p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.section-3 a {
    color: white;
    text-decoration: none;
    background-color: #355592;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 2rem;
    position: relative;
}

.section-3 a::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 10px;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    z-index: -1;
}

.section-3 a:hover {
    z-index: 1;
    background-color: orange;
    box-shadow: 1px 1px 5px orange;
}

.section-3 h4 {
    color: #404040;
    font-size: 2.5rem;
}

.section-3 p {
    color: #404040;
    font-size: 1.5rem;
}

.section-3 .box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section-3 .box-3 {
    display: flex;
    gap: 100px;
}

.section-3 .box-2 {
    text-align: center;
}

section .bmi {
    width: 100vw;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section .bmi form {
    display: flex;
}

.bmi h3 {
    font-size: 4rem;
    color: #355592

}

.bmi p {
    font-size: 1.5rem;
    color: #404040;
    
}

.bmi h4 {
    font-size: 2.5rem;
    text-align: center;
    color: #404040;    
}

.result {
    position: relative;
}

.cursor {
    content: "";
    width: 30px;
    height: 30px;
    top: 100%;
    left: 6%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    background-color: orange;
}

.bmi form label {
    color: #404040;
    margin: 0 10px;
    font-weight: 500;
}

.bmi form input {
    font-weight: 500;
    color: #404040;
}

/* Responsive */

@media screen and (max-width: 576px) {
    #classes .section-3 {
        height: 1200px;
    }

    .section-3 .box-2 p {
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }

    .section-3 .box-3 {
        gap: 20px
    }

    .section-3 .box-4 {
        flex-direction: column;
        gap: 20px;
    }

    .section-3 h3 {
        font-size: 3rem;
    }

    section .bmi {
        height: 800px;
        flex-direction: column;
    }

    section .bmi h3 {
        font-size: 3rem;
    }

    section .bmi form {
        flex-direction: column;
    }
}